# Tips and Tricks with the Pandas library

This notebook contains the code presented in the Tip and Tricks article on my website [here](https://dhaifbekha.co.uk/articles/5-tips-and-tricks-with-pandas).

**Warning**: Depending on when you are running this notebook, the code below maybe outdated due to a change in Pandas/Numpy version for example. If you experience such issue, please flag it to me (insert my contact form UL) and I will update the code.

## Load the dataset

The dataset can be found [here](https://www.kaggle.com/dansbecker/melbourne-housing-snapshot). The data contains a lot of information regarding real estate properties in Melbourne, where at the time I write this, is booming, if your are interested ;). 

Let's load the dataset using pandas, and take a look at it's head:

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/melb_data.csv')

In [2]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

## Create a column based on conditions

### Create a column based on conditions with  `np.where`.

Documentation of `np.where` [here](https://numpy.org/doc/stable/reference/generated/numpy.where.html).

In [3]:
# Threshold on property Land size:
# If land size is inferior to 500 let's label it "small"
# Else if land size is between to 500 and 1000 let's label it "medium"
# Else, let's label property land size above 1000 as "big"

df['landsize_label_1'] = np.where(df.Landsize < 500, "small", 
                                np.where(((df.Landsize > 500) & (df.Landsize < 1000)), "medium", "big"))

# We can verify that the condition had been applied correctly:
df[df.Landsize < 500]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,landsize_label_1
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,small
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,small
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,small
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,small
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13572,Watsonia,76 Kenmare St,2,h,650000.0,PI,Morrison,26/08/2017,14.5,3087.0,...,1.0,210.0,79.0,2006.0,NaN,-37.70657,145.07878,Northern Metropolitan,2329.0,small
13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,3049.0,...,2.0,256.0,NaN,NaN,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0,small
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,small
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,small
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,small

### Create a column based on conditions with  `np.select`.

Documentation of `np.select` [here](https://numpy.org/doc/stable/reference/generated/numpy.select.html).

In [4]:
# Let's first define our conditions separatly in a list:
landsize_conditions = [df.Landsize < 500, 
                      ((df.Landsize > 500) & (df.Landsize < 1000)), 
                       df.Landsize > 1000]

# Let's now define the consequences we want to assign to each conditions above,
landsize_labels = ['small', 'medium', 'big']

# Let's create the column with the label:
df['landsize_label_2'] = np.select(landsize_conditions, landsize_labels)

# We can verify that the condition had been applied correctly:
df[df.Landsize < 500]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,landsize_label_1,landsize_label_2
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,small,small
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,small,small
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,small,small
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,small,small
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,small,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13572,Watsonia,76 Kenmare St,2,h,650000.0,PI,Morrison,26/08/2017,14.5,3087.0,...,210.0,79.0,2006.0,NaN,-37.70657,145.07878,Northern Metropolitan,2329.0,small,small
13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,3049.0,...,256.0,NaN,NaN,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0,small,small
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,small,small
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,small,small
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,small,small

Let's check that the two method are giving us the same results

In [5]:
method_comparison = df.landsize_label_1.to_numpy() == df.landsize_label_1.to_numpy()
method_comparison.all()

True

## Filter your DataFrame based on a list of values

Let's say we are interested in property in the following neighbourhood only: **Carnegie**, **Bulleen**, **Burwood** and **Kensington**. We can filter for those neighbourhood one by one and concatenate the resultings DataFrame but it is really inefficient. The most efficient way is to filer the DataFrame at once using the `isin` method:

Documentation of `isin` [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isin.html).

In [6]:
# The list of neighbourhood 
wanted_neighbourhood = ['Carnegie', 'Bulleen', 'Burwood', 'Kensington']

# Call isin method with the list of wanted area
df_filtered = df[df.Suburb.isin(wanted_neighbourhood)]
df_filtered

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,landsize_label_1,landsize_label_2
1460,Bulleen,19a Elizabeth St,3,u,851000.0,S,Jellis,3/09/2016,11.8,3105.0,...,385.0,140.0,2000.0,Manningham,-37.75990,145.08490,Eastern Metropolitan,4480.0,small,small
1461,Bulleen,42 Robert St,4,h,1300000.0,S,Jellis,3/09/2016,11.8,3105.0,...,717.0,180.0,1960.0,Manningham,-37.76080,145.08620,Eastern Metropolitan,4480.0,medium,medium
1462,Bulleen,92 Swanston St,4,h,1110000.0,PI,Barry,3/09/2016,11.8,3105.0,...,562.0,NaN,NaN,Manningham,-37.76280,145.09940,Eastern Metropolitan,4480.0,medium,medium
1463,Bulleen,25 William St,4,h,1235000.0,S,Jellis,3/09/2016,11.8,3105.0,...,556.0,214.0,1957.0,Manningham,-37.76570,145.09570,Eastern Metropolitan,4480.0,medium,medium
1464,Bulleen,28 Rocklea Rd,4,h,1505000.0,S,Jellis,3/12/2016,11.8,3105.0,...,410.0,NaN,2012.0,Manningham,-37.76950,145.08200,Eastern Metropolitan,4480.0,small,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13383,Burwood,23 Cromwell St,3,h,1238000.0,S,Buxton,26/08/2017,10.4,3125.0,...,735.0,NaN,NaN,NaN,-37.85296,145.10550,Southern Metropolitan,5678.0,medium,medium
13384,Burwood,58 Eley Rd,4,h,1535000.0,S,Nelson,26/08/2017,10.4,3125.0,...,1004.0,188.0,1950.0,NaN,-37.84533,145.12764,Southern Metropolitan,5678.0,big,big
13385,Burwood,42 Uganda St,3,h,1340000.0,S,Fletchers,26/08/2017,10.4,3125.0,...,556.0,NaN,NaN,NaN,-37.84375,145.10591,Southern Metropolitan,5678.0,medium,medium
13386,Burwood,11 Webb St,2,h,1322500.0,S,Buxton,26/08/2017,10.4,3125.0,...,731.0,94.0,1950.0,NaN,-37.85621,145.10641,Southern Metropolitan,5678.0,medium,medium
13390,Carnegie,59 Oakleigh Rd,3,h,1400000.0,PI,Jellis,26/08/2017,10.1,3163.0,...,818.0,193.0,2011.0,NaN,-37.89877,145.05132,Southern Metropolitan,7822.0,medium,medium

In [7]:
# Check that only the 4 area are present in the DataFrame
df_filtered.Suburb.unique()

array(['Bulleen', 'Burwood', 'Carnegie', 'Kensington'], dtype=object)

## Get basic statistics

### Describe()

You can compute basic statistics with the `describe` method of Pandas. It is very useful to get a first sense of your dataset.

Documentation of `describe` [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html).

In [8]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

### Compute correlation matrix

To quickly have a sense of how your variable vary between each other you can compute the correlation matrix with the `corr` method:

Documentation of `corr` [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html).

In [9]:
df.corr()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
Rooms,1.000000,0.496634,0.294203,0.055303,0.944190,0.592934,0.408483,0.025678,0.124127,-0.065413,0.015948,0.100771,-0.081530
Price,0.496634,1.000000,-0.162522,0.107867,0.475951,0.467038,0.238979,0.037507,0.090981,-0.323617,-0.212934,0.203656,-0.042153
Distance,0.294203,-0.162522,1.000000,0.431514,0.295927,0.127155,0.262994,0.025004,0.099481,0.246379,-0.130723,0.239425,-0.054910
Postcode,0.055303,0.107867,0.431514,1.000000,0.060584,0.113664,0.050289,0.024558,0.055475,0.032863,-0.406104,0.445357,0.062304
Bedroom2,0.944190,0.475951,0.295927,0.060584,1.000000,0.584685,0.405325,0.025646,0.122319,-0.053319,0.015925,0.102238,-0.081350
Bathroom,0.592934,0.467038,0.127155,0.113664,0.584685,1.000000,0.322246,0.037130,0.111933,0.152702,-0.070594,0.118971,-0.052201
Car,0.408483,0.238979,0.262994,0.050289,0.405325,0.322246,1.000000,0.026770,0.096101,0.104515,-0.001963,0.063395,-0.024295
Landsize,0.025678,0.037507,0.025004,0.024558,0.025646,0.037130,0.026770,1.000000,0.500485,0.036451,0.009695,0.010833,-0.006854
BuildingArea,0.124127,0.090981,0.099481,0.055475,0.122319,0.111933,0.096101,0.500485,1.000000,0.019665,0.043420,-0.023810,-0.028840
YearBuilt,-0.065413,-0.323617,0.246379,0.032863,-0.053319,0.152702,0.104515,0.036451,0.019665,1.000000,0.060445,-0.003470,0.006361
Lattitude,0.015948,-0.212934,-0.130723,-0.406104,0.015925,-0.070594,-0.001963,0.009695,0.043420,0.060445,1.000000,-0.357634,0.047086
Longtitude,0.100771,0.203656,0.239425,0.445357,0.102238,0.118971,0.063395,0.010833,-0.023810,-0.003470,-0.357634,1.000000,0.065988
Propertycount,-0.081530,-0.042153,-0.054910,0.062304,-0.081350,-0.052201,-0.024295,-0.006854,-0.028840,0.006361,0.047086,0.065988,1.000000

## Random sampling

Let's draw 500 rows, randomly, from our dataset:

Documentation of `sample` [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sample.html).

In [10]:
# Number of rows we want:
N = 500
# Call of the sample method, setting the random state for reproducibility
df.sample(n=N, random_state=0)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,landsize_label_1,landsize_label_2
8505,Williamstown,44 Electra St,4,h,2165000.0,SP,Greg,6/05/2017,8.0,3016.0,...,450.0,190.0,1910.0,Hobsons Bay,-37.86100,144.89850,Western Metropolitan,6380.0,small,small
5523,Seddon,80 Gamon St,2,h,815000.0,S,Chisholm,30/07/2016,6.6,3011.0,...,172.0,81.0,1900.0,Maribyrnong,-37.81000,144.88960,Western Metropolitan,2417.0,small,small
12852,Sunshine North,6 Melton Av,3,h,610000.0,SP,Sweeney,16/09/2017,10.5,3020.0,...,581.0,NaN,NaN,NaN,-37.76740,144.82421,Western Metropolitan,4217.0,medium,medium
4818,Prahran,16 Park Rd,3,t,1245000.0,PI,Marshall,6/08/2016,4.5,3181.0,...,128.0,134.0,2000.0,Stonnington,-37.85260,145.00710,Southern Metropolitan,7717.0,small,small
12812,Pascoe Vale,13 Yorkshire St,3,h,1160000.0,S,Nelson,16/09/2017,8.5,3044.0,...,480.0,NaN,NaN,NaN,-37.72523,144.94567,Northern Metropolitan,7485.0,small,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5653,South Yarra,6/21 Kensington Rd,2,u,551000.0,S,Williams,15/10/2016,3.3,3141.0,...,0.0,NaN,NaN,Stonnington,-37.83830,145.00110,Southern Metropolitan,14887.0,small,small
12636,Altona North,4 Seventh Av,3,h,770000.0,S,Greg,16/09/2017,9.4,3025.0,...,549.0,NaN,NaN,NaN,-37.84476,144.84720,Western Metropolitan,5132.0,medium,medium
13492,Mitcham,2/61 Orient Av,3,u,907800.0,S,Noel,26/08/2017,17.2,3132.0,...,309.0,150.0,2005.0,NaN,-37.82653,145.20261,Eastern Metropolitan,6871.0,small,small
7518,Bentleigh East,1/32 Elizabeth St,3,t,767000.0,S,Gary,13/05/2017,13.9,3165.0,...,162.0,NaN,NaN,Glen Eira,-37.92290,145.05380,Southern Metropolitan,10969.0,small,small
3803,Malvern,2 McArthur St,4,h,1617000.0,S,O'Donoghues,24/09/2016,7.4,3144.0,...,337.0,NaN,NaN,Stonnington,-37.85750,145.03920,Southern Metropolitan,4675.0,small,small

## String operations

### Split

Split the `RegionName` column into two part to keep the direction (the first part):

Documentation of `split` [here](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html).

In [11]:
df['direction'] = df.Regionname.str.split(expand=True)[0]
df[['direction']]

           direction
0           Northern
1           Northern
2           Northern
3           Northern
4           Northern
...              ...
13575  South-Eastern
13576        Western
13577        Western
13578        Western
13579        Western

[13580 rows x 1 columns]

### Replace

Let's replace Greg, one of the seller with another one, let's say Nelson:

Documentation of `replace` [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html).

In [15]:
# Replace method, with the string to replace as the first argument, and 
# the replacement string as the second arguments.
df['SellerG'] = df['SellerG'].str.replace('Greg', 'Nelson')

In [16]:
# Check if Greg is still here
'Greg' in df.SellerG

False